* {}

:root {
    --primary-color: #241e2b;
    --secondary-color: #242b35;
    --tertiary-color: #b07eec;
    --text-color: #e8f4e9;
    --text-secondary-color: #8877bb;
}

.bg-main {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-tertiary {
    background-color: var(--tertiary-color);
}

.text-main {
    color: var(--text-color);
}

.text-special {
    color: var(--text-secondary-color);
}