* {}

:root {
    --primary-color: #2f2a36;
    --secondary-color: #201d2c;
    --tertiary-color: #b07eec;
    --text-color: #e8f4e9;
    --text-secondary-color: #8877bb;
}

.bg-main {
    background-color: var(--primary-color) !important;
}

.bg-card {
    background-color: var(--secondary-color) !important;
}

.bg-special {
    background-color: var(--tertiary-color) !important;
}

.text-main {
    color: var(--text-color) !important;
}
}

.text-special {
    color: var(--text-secondary-color) !important;
}

.border-special {
    border: 1px solid var(--tertiary-color) !important;
}

.no-border {
    border: none !important;
}

.hover-special:hover {
    background-color: var(--primary-color) !important;
    color: var(--tertiary-color) !important;
}
