* {}

:root {
    --primary-color: #241e2b;
    --secondary-color: #262431;
    --tertiary-color: #b07eec;
    --text-color: #e8f4e9;
    --text-secondary-color: #8877bb;
}

.bg-main {
    background-color: var(--primary-color);
}

.bg-card {
    background-color: var(--secondary-color);
}

.bg-special {
    background-color: var(--tertiary-color);
}

.text-main {
    color: var(--text-color);
}

.text-special {
    color: var(--text-secondary-color);
}

.border-special {
    border: 1px solid var(--tertiary-color) !important;
}

.hover-special:hover {
    background-color: var(--primary-color) !important;
    color: var(--tertiary-color) !important;
}