@font-face {
  font-family: Pixel;
  src: url("Minecraft.ttf");
}

#game {
  border: 4px solid darkgreen;
}

#BUTTON {
  border: none;
  text-decoration: none;
  background: none;
}

body {
  height: 100vh;
  background: linear-gradient(0deg, rgb(16, 16, 16) 0%, rgb(71, 71, 71) 100%);
  text-align: center;
  overflow: hidden;
  position: relative;
  vertical-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: auto;
}

h1 {
  font-family: Comic Sans;
}
.Card {
  z-index: 1;
  position: absolute;
  margin-left: 326px;
  margin-top: 220px;
}

.lives {
  z-index: 1;
  display: inline-block;
}

.heart {
  image-rendering: pixelated;
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.Higher {
  z-index: 1;
  position: absolute;
  margin-left: 454px;
  margin-top: 523px;
}

.Lower {
  z-index: 1;
  position: absolute;
  margin-left: 54px;
  margin-top: 523px;
}

.h-size {
  image-rendering: pixelated;
}

.background {
  width: 640px;
  height: 640px;
  z-index: 0;
  border: 4px solid darkgreen;
  image-rendering: pixelated;
}

.ptext {
  font-family: Pixel;
}

#health {
  z-index: 1;
  color: white;
  font-size: 32px;
  position: absolute;
  margin-left: -330px;
  margin-top: 603px;
}
#health2 {
  z-index: 1;
  color: white;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: -370px;
  margin-top: 600px;
}

#creep {
  display: inline-block;
  z-index: 1;
  font-size: 25px;
  -webkit-text-stroke-color: rgb(48, 48, 48);
  -webkit-text-stroke-width: 1px;
  color: white;
  text-align: center;
  position: absolute;
  margin-left: -460px;
  margin-top: 113px;
}
#pleep {
  display: inline-block;
  z-index: 1;
  font-size: 25px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  color: white;
  text-align: center;
  position: absolute;
  margin-left: -125px;
  margin-top: 18px;
}
#cleep {
  display: inline-block;
  z-index: 1;
  font-size: 33px;
  -webkit-text-stroke-color: rgb(48, 48, 48);
  -webkit-text-stroke-width: 1px;
  color: white;
  text-align: center;
  position: absolute;
  margin-left: -448px;
  margin-top: 540px;
}
#cloop {
  display: inline-block;
  z-index: 1;
  font-size: 35px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  color: white;
  text-align: center;
  position: absolute;
  margin-left: -555px;
  margin-top: 75px;
}

.text_cont {
  z-index: 1;
}

.game-container {
  width: 640;
  height: 640;
  position: relative;
  vertical-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.scard {
  width: 96px;
  height: 192px;
  z-index: 0;
  image-rendering: pixelated;
  position: absolute;
  margin-left: 212px;
  margin-top: 220px;
  opacity: 0;
}

footer {
  position: relative;
  color: white;
  font-size: 120%;
  line-height: 12px;
  background-color: rgb(55, 115, 55);
  width: 640px;
  height: 193px;
  border: 5px solid rgb(0, 100, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

footer, h2, p {
margin-bottom: 5px;
}